[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "themes/xmin"]
	path = themes/xmin
	url = git@github.com:yihui/hugo-xmin.git
[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = git@github.com:mismith0227/hugo_theme_pickles.git
