/*
 * Old CSS here:
 * /data/backups/suuf-cc/backup-from-xena/3001/srv/www/elevator.suuf.cc/sites/all/themes/annsansertheme/layout.css
 *
 */


/* ----------- general layout ----------- */

body {
    max-width: 800px;
    margin: auto;
    padding: 1em;

    /*overflow-x:hidden;*/
    /*overflow-y:scroll;*/
    /*margin:0px;*/
    /*padding:0px;*/
    /*font-family:Trebuchet MS,Arial,Verdana,Arial,sans-serif, Sans;*/

    background: #111;

    background-image:url(images/background.jpg);
    background-repeat:repeat; /* TODO repeat-y to avoid ugliness for too large windows */
    background-position:center top;

    margin-top:0px;
    padding-top:8px;

    overflow-y:scroll;
}

body, html {
    height:100%;
}

main img, main iframe, main video {
    max-width: 100%;
}


/* ----------- project list ----------- */

.list-page h1 {
    display:none;
}

.project-list {
    width:222px;
    margin:auto;
    margin-top:37px;
    padding: 0;
    padding-top:0px;
}

.project-list ul {
    column-width: 86px;
    column-count: 2;
    column-gap: 26px;
    width:220px;
    padding: 0;
    margin: 0;
}

.project-list li  {
	list-style-type:none;
    width: 86px;
    padding: 0;
    margin: 0;
    margin-left:11px;
    margin-right:11px;
    margin-bottom:105.3px;
}

.project-list li .list-title {
    background:#333;
    width:86px;
    display:none;
    position:absolute;
}

.project-list li:hover .list-title {
    display:block;
}

.project-list li:hover .list-title a {
	text-decoration:none;
}

/* ----------- single page ----------- */
/* ----------- single project ----------- */

.single-page nav.main-menu {
    background-color: #333;
}

.single-page nav.main-menu ul {
    display:none;
}

.single-content {
    padding:2.5em;
    background: #000;
    min-height:100%;
}


/* ----------- font style ----------- */

body {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    font-size:15px;
    color: #D9D9D9;
    line-height: 1.5em;

}

a {
	text-decoration:none;
	color: white;
}

a:hover {
	text-decoration:underline;
}

.title {
    font-size: 1.1em;
}

code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
}

hr {
    border-style: dashed;
    color: #ddd;
}

main {
    hyphens: auto;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
    overflow-x: auto;
}

code {
    background: #f9f9f9;
}

pre code {
    background: none;
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table thead th {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
    background: #eee;
}


/* ----------- menu ----------- */

nav.main-menu {
    position:fixed;
    font-size:18px;
    top:0.5em;
    margin:0;
    padding:0.2em;
    margin-left:54px;
}

nav.year, nav.category {
	position:fixed;
    left:50%;
    top:0.5em;
    margin:0;
    padding:0;
    margin-left:228px;
	font-size:15px;
	line-height:1.1em;
}

nav.year {
    top:19.5em;
}

nav a {
	text-decoration:none;
	color: white;
}

nav a:hover {
	text-decoration:underline;
}

nav ul li.active {
    font-weight:bold;
}

nav ul li {
	list-style-type:none;
	display:block;
	padding:0em;
	margin:0px;
}

#show-menu, #show-menu-label {
    display:none;
}

@media screen and (max-width: 830px) {
    body {
        /*TODO this is a workaround, change this in body! */
        padding:0;
    }

    nav {
        display:none;
    }

    #show-menu-label {
        top:0px;
        height:1.2em;
        width:1.2em;
        position:fixed;
        display:block;
        font-size:20px;
        padding-left:0.2em;
        padding-top:0.2em;
        background:rgba(33, 33, 33, 0.8);
    }
    nav.main-menu {
        display:block;
        position:fixed;
        top:1.4em;
        padding:0;
        margin:0;
        padding-left:0.6em;
        padding-right:0.6em;
        background:rgba(33, 33, 33, 0.8);

        max-height:0;
        overflow:hidden;
        transition: height 800ms ease-in, padding-top 60ms ease-in;
    }

    nav.main-menu ul {
        margin-top:0.4em;
        padding-left:1em;
    }

    #show-menu:checked ~ nav.main-menu {
        max-height:unset;
        padding-top:0.4em;
    }
}
