name: Deploy Hugo site to GitHub Pages

# Find more here:
# https://gohugo.io/hosting-and-deployment/hosting-on-github/

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 0.111.3
          extended: true

      - name: Build
        run: hugo --minify

      - name: Upload & Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
        with:
          build_dir: ./public
